langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-experimental

langgraph

faiss-cpu
chromadb
sentence-transformers
rank_bm25

tiktoken
python-dotenv

pypdf
pymupdf
unstructured
pdfminer.six
python-docx
docx2txt

pandas
openpyxl
jq
matplotlib
wikipedia